mixin subscription-text-field(lab, plc)
    div.subscription-text-field
        if lab
            h3.label.label_position_text-field= lab
        .subscription-text-field__wrapper
            input.subscription-text-field__field(type = "Email" placeholder= plc).item
            span(class="material-icons arrow-forward") &#xE5C8