include ../../pug/_image
include ../../blocks/colors-content/colors-content

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="keywords")
        meta(name="description" content="Used Colors&Fonts")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        title Colors&Types
    body
        header.uiKit.uiKit__header
            +image('svg','logo','uiKit__logo')
        .colors-content
            .colors-content__color-container
                +color-container('Dark Shade', '1F2041', 100)
                +color-container('Dark Shade', '1F2041', 75)
                +color-container('Dark Shade', '1F2041', 50)
                +color-container('Dark Shade', '1F2041', 25)
                +color-container('Dark Shade', '1F2041', 5)
                +color-container('Purple', 'BC9CFF', "")
                +color-container('Green', '6FCF97', "")
            .colors-content__text-container
                .colors-content__small-block
                    h1.widget H1
                .colors-content__big-block
                    h1.widget This one is the sub-section or widget line
                .colors-content__small-block
                    h2.widget-inside H2
                .colors-content__big-block
                    h2.widget-inside Next one is the item title inside widgets
                .colors-content__small-block
                    h3.label.label_color_gray H3
                .colors-content__big-block
                    h3.label this is a label or cta text
                .colors-content__small-block
                    p.body body
                .colors-content__big-block
                    p.body This is the body text which is used for most of the design, like paragraphs, lists, etc.


