include ../../pug/_image
include ../../libs/_libs.pug


doctype html

html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="keywords")
        meta(name="description" content="Landing page")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Room Details
    body
        header
            +header({
                existSignUp: true,
                isBold: false,
            })
        main
            .room-details
                .room-details__gallery
                    .room-details__column.room-details__column_big
                        .room-details__item
                            +image('png','room-detail1','room-details__image')
                    .room-details__column
                        .room-details__item.room-details__item_small
                            +image('png','room-detail2','room-details__image')
                        .room-details__item.room-details__item_small
                            +image('png','room-detail3','room-details__image')
                .room-details__container
                    .room-details__text-content
                        .room-details__box
                            .room-details__description
                                .room-details__title
                                    h2.widget-inside Сведения о номере
                                +icon('insert_emoticon/Комфорт/Шумопоглощающие стены', true)
                                +icon('location_city/Удобство/Окно в каждой из спален',true)
                                +icon('whatshot/Уют/Номер оснащен камином', false)
                            .room-details__impression
                                .room-details__title
                                    h2.widget-inside Впечатления от номера
                                .room-details__diagram.diagram
                                    .diagram__circle
                                    .diagram__description
                        .room-details__reviews
                            .room-details__title
                                h2.widget-inside Отзывы посетителей номера
                                span.body iiii
                            +review({
                                picture: 'person1',
                                name: 'Мурад Сарафанов',
                                time: '5 дней назад',
                                text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                                likeCounter: 12,
                                isLiked: true,
                            })
                            +review({
                                picture: 'person2',
                                name: 'Патрисия Стеклышкова',
                                time: 'Неделю назад',
                                text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
                                likeCounter: 2,
                                isLiked: false,
                            })
                        .room-details__box
                            .room-details__rules
                                .room-details__title
                                    h2.widget-inside Правила
                                +bullet-list({
                                    str: ['Нельзя с питомцами',
                                        'Без вечеринок и мероприятий',
                                        'Время прибытия - после 13:00, а выезд до 12:00']
                                })
                            .room-details__cancellation
                                .room-details__title
                                    h2.widget-inside Отмена
                                span.room-details__text.body Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                    .room-details__card
                        +card-room-parameters
        footer
            +footer(true)
            +footer(false)