include ../../pug/_image
include ../../libs/_libs.pug


doctype html

html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="keywords")
        meta(name="description" content="Landing page")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Landing Page
    body
        header
            +header({
                existSignUp: true,
                isBold: false,
            })
        main
            .landing-page
                .landing-page__container
                    +card-room-search
                    p.body.landing-page__text.landing-page__text_aligned_right Лучшие номера для вашей работы, отдыха и просто вдохновения
        footer
            +footer(true)
            +footer(false)