include ../../pug/_image.pug
include ../../pug/_head.pug
include ../../libs/_libs.pug


doctype html

html(lang="ru")
    +head( 'Landing Page', 'Landing Page')
    body
        header
            +header({
                existSignUp: true,
                isBold: false,
            })
        main
            .landing-page
                .landing-page__container
                    .landing-page_upper
                        +card-room-search
                    p.body.landing-page__text.landing-page__text_aligned_right Лучшие номера для вашей работы, отдыха и просто вдохновения
        footer
            +footer(true)
            +footer(false)