include ../../pug/_image
include ../../blocks/colorsContent/colorsContent

doctype html
html
    include ../../pug/_head
    body
        header
            +image('logo','colorsContent__logo')
        .colorsContent
            .colorsContent__color-container
                +color-container('Dark Shade', '1F2041', 100)
                +color-container('Dark Shade', '1F2041', 75)
                +color-container('Dark Shade', '1F2041', 50)
                +color-container('Dark Shade', '1F2041', 25)
                +color-container('Dark Shade', '1F2041', 5)
                +color-container('Purple', 'BC9CFF', "")
                +color-container('Green', '6FCF97', "")
            .colorsContent__text-container
                .colorsContent__small-block
                    h1 H1
                .colorsContent__big-block
                    h1 This one is the sub-section or widget line
                .colorsContent__small-block
                    h2 H2
                .colorsContent__big-block
                    h2 Next one is the item title inside widgets
                .colorsContent__small-block
                    h3 H3
                .colorsContent__big-block
                    h3 this is a label or cta text
                .colorsContent__small-block
                    p body
                .colorsContent__big-block
                    p This is the body text which is used for most of the design, like paragraphs, lists, etc.
        a(href="../formElements/formElements.pug") Link


