include ../../pug/_image
include ../../blocks/color-container/color-container

doctype html
html
    include _head
    body
        header
            +image('logo','ui-kit__logo')
        section.colorstypes__section
            .color-container
                +color-container('Dark Shade', '1F2041', 100)
                +color-container('Dark Shade', '1F2041', 75)
                +color-container('Dark Shade', '1F2041', 50)
                +color-container('Dark Shade', '1F2041', 25)
                +color-container('Dark Shade', '1F2041', 5)
                +color-container('Purple', 'BC9CFF', "")
                +color-container('Green', '6FCF97', "")
            .text-container
                h1
                    span.text-container__span H1
                    |This one is the sub-section or widget line
                h2
                    span.text-container__span H2
                    |Next one is the item title inside widgets
                h3
                    span.text-container__span H3
                    |this is a label or cta text
                p
                    span.text-container__span Body
                    |This is the body text which is used for most of the design, like paragraphs, lists, etc.

