.card-room-search {
  width: 380px;
  height: 374px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 39px 29px 29px;
  box-sizing: border-box;

  @media (max-width: 421px) {
    width: 300px;
    padding: 30px 22px 22px;
  }

  &__headline {
    margin-bottom: 21px;
  }

  &__dropdown {
    margin-bottom: 31px;
  }

  &__date-dropdown {
    margin-bottom: 21px;
  }
}