mixin card-room-search(link)
    - link = link || './search-room.html'
    .card-room-search.card.card_shadow_big
        h1.widget.card-room-search__headline Найдем номера под ваши пожелания
        .card-room-search__date-dropdown
            +date-dropdown('прибытие', 'отбытие')
        .wrapper.card-room-search__dropdown
            +iqdropdown({
                id1: 'Взрослые',
                id2: 'Дети',
                id3: 'Младенцы',
                label: 'гости',
            })
        +button({
            title: 'подобрать номер',
            isArrow: true,
            className: 'button_style_solid payment-button',
            link: link,
        })