.button {
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;

  &>span {
    user-select: none;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    vertical-align: middle;
  }

  &_style_solid {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
  }

  &_style_op-50 {
    opacity: 0.5;
  }

  &_style_border {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(180deg, #BC9CFF 100%, #8BA4F9 100%) border-box;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    color: #BC9CFF;
  }

  &_style_gray {
    color: rgba(31, 32, 65, 0.5);
  }

  &_style_without-border {
    background: none;
    border: none;
    margin-right: 20px;
    margin-bottom: 30px;
    font-weight: 700;
  }
}