.text-field{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;

  &__field {
    width: 320px;
    height: 44px;
    box-sizing: border-box;

    &::placeholder {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #1F2041;
      opacity: 0.25;
      line-height: 18px;
    }

    &:hover, &:focus, &:active, &_hover {
      border-color: rgba(31, 32, 65, 0.5);
      outline: none;
    }
  }
}