mixin text-field( props )
    - props = props || {}
    - var { labelmain = '', label = '', type = '', placeholder = '', value ='' } = props
    .text-field
        .text-field__label
            h3(class="label")= labelmain
        .text-field__label2
            span(class="label-25")= label
        input.text-field__field(placeholder=placeholder type=`${type}` value = value).item