.pagination {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.paginationjs-pages span, .paginationjs-pages a {
    user-select: none;
}

.paginationjs .paginationjs-pages {
    float: left
}

.paginationjs-page {
    cursor: pointer;
}

.paginationjs .paginationjs-pages ul {
    float: left;
    margin: 0;
    padding: 0
}

.paginationjs .paginationjs-pages li {
    float: left;
    width: 40px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationjs .paginationjs-pages li > a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 14px;
    display: block;
    font-size: 12px;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}


.paginationjs .paginationjs-pages li.active {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 50%;

}

.paginationjs .paginationjs-pages li.active > a {
    font-weight: 700;
    color: white;
}


.paginationjs .paginationjs-pages li:last-child {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
    cursor: pointer;
}

.paginationjs .paginationjs-pages li:last-child > span {
    color: white;

}
