.card-room-parameters {
  width: 380px;
  height: 512px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 39px 29px 29px;

  &__room-number {
    margin-bottom: 20px;
  }

  &__date-dropdown {
    margin-bottom: 21px;
  }

  &__dropdown {
    margin-bottom: 21px;
  }

  &__prices {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__prices:nth-child(6) {
    margin-bottom: 30px;
  }

  &__summary {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    &>span {
      vertical-align: baseline;
    }
  }

  &__dotted-border {
    border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
    flex-grow: 1;
    margin-bottom: 2px;
  }

  &__icon-text {
    &>span:first-child{
      display: inline-block;
      width: 214px;
      margin-right: 5px;
    }
    &>span:nth-child(2) {
        color: rgba(31, 32, 65, 0.25);
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid rgba(31, 32, 65, 0.25);

    }
  }

  &__icon-text {
    &>span:first-child {
      line-height: 18px;
    }
  }

}