mixin card-room-parameters
    .card-room-parameters
        .card-room-parameters__room-number
            +room-number('888', '9 990', true)
        .card-room-parameters__date-dropdown
            +date-dropdown('прибытие', 'отбытие')
        .card-room-parameters__dropdown
            +iqdropdown({
                id1: 'Взрослые',
                id2: 'Дети',
                id3: 'Младенцы',
                label: 'гости',
            })
        .card-room-parameters__prices
            span.body 9 990₽ x 4 суток
            span.body 39 960₽
        .card-room-parameters__prices
            .card-room-parameters__icon-text
                span.body Сбор за услуги скидка 2 179₽
                span.body i
            span.body 0₽
        .card-room-parameters__prices
            .card-room-parameters__icon-text
                span.body Сбор за дополнительные услуги
                span.body i
            span.body 300₽
        .card-room-parameters__summary
            h2.widget-inside Итого
            .card-room-parameters__dotted-border
            h2.widget-inside 38 081₽
        +button({
            title: 'забронировать',
            isArrow: true,
            className: 'button_style_solid payment-button',
        })