include ../../pug/_image
include ../../blocks/textField/textField
include ../../blocks/dropdown/dropdown


doctype html
html
    head
        meta(charset='UTF-8')
        title Form Elements
    body.form
    header.uiKit.uiKit__header
        +image('logo','uiKit__logo')
    main.form__content
        .form__1stBlock
            .form__uBlock
                +textField("text field", "default", "Email", "Email", "")
                +textField("text field", "hover/focus", "text", "", "This is pretty awesome")
                +dropdown("dropdown")
                .maskedTextField
                        h3.label masked text field
                        input.maskedTextField__field(type="date")
                input.dateDropdown
                input.dateDropdown
                input.filterDateDropdown
                input.textField.textField_subscription
            .form__uBlock
                input.checkbox
                input.radioButtons
                input.toggle
                .form__likeButtons
                    input.likeButton
                    input.likeButton
                .form__rateButtons
                    input.rateButton
                    input.rateButton
            .form__uBlock
                input.rangeSlider
                .form__clickButtons
                    input.clickButton
                    input.clickButton
                    input.clickButton
                    input.clickButton
                    input.clickButton
                    input.clickButton
                    input.clickButton
                input.pagination
        .form__2ndBlock
            .form__uBlock
            .form__uBlock
            .form__uBlock
        .form__3rdBlock
            .form__uBlock
            .form__uBlock
            .form__uBlock
    footer.uiKit.uiKit__footer
        .allowance
        .review