.radio-buttons{

  &__title {
    margin-bottom: 16px;
  }

  &__item{
    display: inline-block;
    margin-right: 20px;


    &>input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:not(:disabled):not(:checked)+span:hover::before {
        border-color: rgba(31, 32, 65, 0.5);
      }

      &:checked+span{
        color: rgba(31, 32, 65, 0.75);
      }

      &:checked+span::before {
        border: none;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 4px 14px 4px 4px;
        box-shadow: 0 0 0 3px white,
                    0 0 0 4px #BC9CFF;

      }
    }

    &>span {
      vertical-align: middle;
      display: inline-flex;
      user-select: none;
      color: rgba(31, 32, 65, 0.5);
      line-height: 18px;

      &::before{
        content:'';
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
    }
    }


}