mixin radio-buttons(props)
    - props = props || {}
    - let {title='', str=[]} = props
    .radio-buttons
        - if (title != '')
            h3.label.label_position_button= title
        each val, index in str
            label.radio-buttons__item
                if (index == 0)
                    input(type="radio" name="gender" value= val checked)
                else
                    input(type="radio" name="gender" value= val)
                span.body= val

