@use "../../reset";
@use "../../text/text";
@use "../../libs/_libs.scss";


html, body {
  height: 100%;
  overflow-x: hidden;
  max-width: 1920px;
  min-width: 320px;
}

body {
  display: flex;
  flex-direction: column;
  background: #E5E5E5;
}
main {
  flex: 1 1 auto;
}

.search-room {
  width: 100%;
  margin-bottom: 1.5px;
  background-color: #ffffff;
  position: relative;
  &__container {
    width: 80.56%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
  }
  &__sidebar {
    margin-right: 60px;
    transition: transform 0.6s;
    @media (max-width: 1439px) {
      position: absolute;
      top: 30px;
      left: 0;
      margin-right: 0;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    flex: 1 0 auto;
    width: 100%;
    text-align: left;
    margin-bottom: 21px;
    & .widget {
      @media (max-width: 685px) {
      font-size: 20px;
        text-align: center;
      }
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    width: 100%;
    grid-column-gap: 12px;
    grid-row-gap: 21px;
    margin-bottom: 41px;
    @media (max-width: 685px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 21px;
    }
  }
  &__pagination {
    margin: 0 auto;
  }

}