@use "../fonts/fonts";

body {
  font-family: 'Montserrat', sans-serif;
}

input, textarea, button, i {
  font-family: inherit;
}

.body {
  font-size: 14px;
  font-weight: 400;
  color: #1F2041;
  opacity: 0.75;
  line-height: 24px;
}

.widget {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #1F2041;
}

.widget-inside {
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  color: #1F2041;
}

.label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 15px;
  color: #1F2041;
}

.label_color_purple {
  color: #BC9CFF;
}

.label-25 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 15px;
  opacity: 0.25;
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
