@use "../fonts/fonts";

body {
  font-family: 'Montserrat', sans-serif;
}

.body {
  font-size: 14px;
  font-weight: 400;
  color: #1F2041;
  opacity: 0.75;
  line-height: 24px;
}

.widget {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.widget-inside {
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
}

.label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 15px;
}

.label-25 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 15px;
  opacity: 0.25;
}
