include ../../pug/_image.pug
include ../../pug/_head.pug

doctype html

html(lang="ru")
    +head('Starting page of the hotel', 'DummyPage')
    body
        .dummy-page
            .dummy-page__header
                +image('svg','logo','uiKit__logo')

            .dummy-page__container.card.card_shadow_big
                .dummy-page__box
                    h2.widget.index__widget.index__widget_color_pink Данной страницы не существует
                    h2.widget.index__widget.index__widget_color_pink There is no such page

                .index__box
                    .widget-inside.dummy-page__text.dummy-page__text_color_pink
                        a(href="#" onclick="history.back();") Назад / Back
                    .widget-inside.dummy-page__text.dummy-page__text_color_pink
                        a(href='./index.html') На главную / To the starting page


