.rate-button {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;

  &__icon {
    width: 24px;
    line-height: 24px;
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }

  &__icon:before {
    vertical-align: top;
    content: attr(data-before);
    display: inline-block;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-variation-settings: 'FILL' 0;
    user-select: none;
  }

}

.rate-button:first-of-type {
  margin-right: 20px;
}