@use "../../reset";
@use "../../text/text";
@use '../../blocks/form/form';
@use "../../blocks/item/item";
@use "../../blocks/text-field/text-field";
@use "../../blocks/uiKit/uiKit";
@use "../../blocks/dropdown/dropdown";
@use "../../blocks/masked-text-field/masked-text-field";
@use "../../blocks/expand-arrow/expand-arrow";
@use "../../blocks/date-dropdown/date-dropdown";
@use "../../blocks/filter-date-dropdown/filter-date-dropdown";
@use "../../blocks/subscription-text-field/subscription-text-field";
@use "../../blocks/wrapper/wrapper";
@use "../../blocks/title/title";
@use "../../blocks/checkbox-buttons/checkbox-buttons";
@use "../../blocks/radio-buttons/radio-buttons";
@use "../../blocks/toggle/toggle";
@use "../../blocks/like-button/like-button";
@use "../../blocks/rate-button/rate-button";
@use '../../blocks/slider/slider';
@use "../../blocks/button/button";
@use "../../blocks/button-round/button-round";
@use "../../blocks/click-me/click-me";
@use "../../blocks/payment-button/payment-button";
@use "../../blocks/pagination/pagination.css";


html {
  width: 1440px;
  height: 1853px;

}

* {
  box-sizing: border-box;
}