@use "../../reset";
@use "../../text/text";
@use '../../blocks/form/form';
@use "../../blocks/text-field/text-field";
@use "../../blocks/uiKit/uiKit";
@use "../../blocks/dropdown/dropdown";
@use "../../blocks/masked-text-field/masked-text-field";
@use "../../blocks/expand-arrow/expand-arrow";
@use "../../blocks/date-dropdown/date-dropdown";
@use "../../blocks/filter-date-dropdown/filter-date-dropdown";
@use "../../blocks/item/item";
@use "../../blocks/subscription-text-field/subscription-text-field";


html {
  width: 1440px;
  height: 1853px;

}

* {
  box-sizing: border-box;
}