include ../../pug/_image
include ../../blocks/text-field/text-field
include ../../blocks/iqdropdown/iqdropdown
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/filter-date-dropdown/filter-date-dropdown
include ../../blocks/subscription-text-field/subscription-text-field
include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/radio-buttons/radio-buttons
include ../../blocks/toggle/toggle

doctype html

html

    head
        meta(charset='UTF-8')
        title Form Elements
    body.form
        header.uiKit.uiKit__header
            +image('logo','uiKit__logo')
        main.form__content
            .form__1stBlock
                .form__uBlock
                    +text-field({
                        labelmain:"text field",
                        label: "default",
                        type: "Email",
                        placeholder: "Email"
                    })
                    +text-field({
                        labelmain: "text field",
                        label: "hover/focus",
                        type: "text",
                        value: "This is pretty awesome"
                    })
                    +iqdropdown({
                        id1: 'adults',
                        id2: 'children',
                        id3: 'infants',
                        label: 'dropdown'
                    })
                    .masked-text-field
                            h3.label masked text field
                            input.masked-text-field__field(type="text").item
                    +date-dropdown('date dropdown')
                    +filter-date-dropdown('filter date dropdown')
                    +subscription-text-field('subscription text field', 'Email')
                .form__uBlock
                    +checkbox({
                        title: 'checkbox buttons',
                        str: ['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)']
                    })
                    +radio-buttons({
                        title: 'radio buttons',
                        str: ['Мужчины', 'Женщины'],
                    })
                    +toggle({
                        title: 'toggle',
                        str: ['Получать спецпредложения', 'Получать спецпредложения']
                    })
                    .form__like-buttons
                        input.like-button
                        input.like-button
                    .form__rate-buttons
                        input.rate-button
                        input.rate-button
                .form__uBlock
                    input.range-slider
                    .form__click-buttons
                        input.click-button
                        input.click-button
                        input.click-button
                        input.click-button
                        input.click-button
                        input.click-button
                        input.click-button
                    input.pagination
            .form__2ndBlock
                .form__uBlock
                .form__uBlock
                .form__uBlock
            .form__3rdBlock
                .form__uBlock
                .form__uBlock
                .form__uBlock
        footer.uiKit.uiKit__footer
            .allowance
            .review
