include ../../pug/_image
include ../../libs/_libs.pug

doctype html

html

    head
        meta(charset='UTF-8')
        title Form Elements
    body.form
        header.uiKit.uiKit__header
            +image('logo','uiKit__logo')
        main.form__content
            .form__1stBlock
                .form__uBlock
                    +text-field({
                        labelmain:"text field",
                        label: "default",
                        type: "Email",
                        placeholder: "Email"
                    })
                    +text-field({
                        labelmain: "text field",
                        label: "hover/focus",
                        type: "text",
                        value: "This is pretty awesome"
                    })
                    .wrapper.wrapper__dropdown.wrapper-20
                        +iqdropdown({
                            id1: 'Взрослые',
                            id2: 'Дети',
                            id3: 'Младенцы',
                            label: 'dropdown',
                        })
                    .masked-text-field.wrapper-40
                            h3.label.label_position_text-field masked text field
                            input.masked-text-field__field(type="text").item
                    +date-dropdown('date dropdown')
                    +filter-date-dropdown('filter date dropdown')
                    +subscription-text-field('subscription text field', 'Email')
                .form__uBlock
                    +checkbox({
                        title: 'checkbox buttons',
                        str: ['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)']
                    })
                    +radio-buttons({
                        title: 'radio buttons',
                        str: ['Мужчины', 'Женщины'],
                    })
                    +toggle({
                        title: 'toggle',
                        str: ['Получать спецпредложения', 'Получать спецпредложения']
                    })
                    .wrapper.wrapper-40
                        h3.label.label_position_button= 'like button'
                        +like-button
                        +like-button
                    .wrapper
                        h3.label.label_position_button= 'rate button'
                        +rate-button
                        +rate-button
                .form__uBlock
                    +slider()
                    .wrapper.wrapper__buttons.wrapper_width_narrow.wrapper-40
                        h3.label.label_position_button= 'buttons'
                        +button({
                            title: 'click me',
                            className: 'button button_style_solid click-me',
                        })
                        +button({
                            title: 'click me',
                            className: 'button button_style_solid button_style_op-50 click-me',
                        })
                        +button({
                            title: 'click me',
                            className: 'button button_style_border click-me',
                        })
                        +button({
                            title: 'click me',
                            className: 'button button_style_border button_style_op-50 click-me',
                        })
                        +button({
                            title: 'click me',
                            className: 'button button_style_border button_style_without-border',
                        })
                        +button({
                            title: 'click me',
                            className: 'button button_style_without-border button_style_gray',
                        })
                        +button({
                            title: 'перейти к оплате',
                            isArrow: true,
                            className: 'button button_style_solid payment-button',
                        })
                    +pages({
                        title: 'pagination'
                    })
            .form__2ndBlock
                .form__uBlock
                    .wrapper.wrapper__dropdown.wrapper-20.wrapper_width_narrow
                        +iqdropdown({
                            id1: 'Спальни',
                            id2: 'Кровати',
                            id3:  'Ванные комнаты',
                            label:  'dropdown',
                            className:  'iqdropdown_width_narrow',
                            description: 'default',
                        })
                    .wrapper.wrapper__dropdown.wrapper_width_narrow
                        +iqdropdown({
                            id1: 'спальни',
                            id2: 'кровати',
                            id3: 'ванные комнаты',
                            label: 'dropdown',
                            className: 'iqdropdown_width_narrow',
                            description: 'expanded'
                        })
                .form__uBlock
                    .wrapper.wrapper__dropdown.wrapper-20
                        +iqdropdown({
                            id1: 'Взрослые',
                            id2: 'Дети',
                            id3: 'Младенцы',
                            label: 'dropdown',
                        })
                .form__uBlock
                    .wrapper.wrapper__dropdown.wrapper-20
                        +iqdropdown({
                            id1: 'Взрослые',
                            id2: 'Дети',
                            id3: 'Младенцы',
                            label: 'dropdown',
                        })
            .form__3rdBlock
                .form__uBlock
                    +expandable-checkbox({
                        items: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']
                    })
                    +expandable-checkbox({
                        items: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']
                    })
                .form__uBlock
                    +rich-checkbox({
                        str: ['Широкий коридор/Ширина коридоров в номере не менее 91 см.',
                            'Помощник для инвалидов/На 1 этаже вас встретит специалист и проводит до номера']
                    })
                .form__uBlock

        footer.uiKit.uiKit__footer
            .allowance
            .review

        //script(src="https://code.jquery.com/jquery-3.6.0.min.js"
        //    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        //    crossorigin="anonymous")
