.icon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 280px;
  box-sizing: border-box;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &_bordered {
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }
  & span {
    user-select: none;
  }

  &>.material-icons {
    font-size: 48px;
    font-weight: 400;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-right: 10px;
  }
  &__text {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & span:nth-child(1) {
      font-weight: 700;
      width: 100%;
    }
  }

}