mixin icon (str)
    - str = str || '';
    - let [icon, title, description] = str.split('/')
        .icon.wrapper-20
            span.material-icons= icon
            .icon__text
                span.body= title
                span.body= description