.diagram {
    display: flex;
    gap: 30px;
    align-items: flex-end;

    @media (max-width: 440px) {
        flex-direction: column;
        align-items: center;
    }

    &__circle {
        position: relative;
    }

    &__segment {
        fill: none;
        stroke-width: 4;

        &_hover {
            stroke-width: 7;
            opacity: 0.6;
            transition-property: all;
            transition-duration: 0.3s;
        }
    }

    &__segment:nth-child(1) {
        stroke: url(#grad1);
        transform: rotate(90deg);
        transform-origin: center;
    }

    &__segment:nth-child(2) {
        stroke: url(#grad2);
        transform: rotate(90deg);
        transform-origin: center;
    }

    &__segment:nth-child(3) {
        stroke: url(#grad3);
        transform: rotate(90deg);
        transform-origin: center;
    }

    &__segment:nth-child(4) {
        stroke: url(#grad4);
        transform: rotate(90deg);
        transform-origin: center;
    }

    &__title {
        position: absolute;
        top: 38.5px;
        left: 31.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}