.diagram {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.diagram__chart {

}

.diagram__segment {
    fill: none;
    stroke-width: 4;
    cursor: pointer;
    &:hover {
        stroke-width: 6;
        opacity: 0.6;
        transition-property: all;
        transition-duration: 0.5s;
    }
}

.diagram__segment:nth-child(1) {
    stroke: url(#grad1);
    transform: rotate(90deg);
    transform-origin: center;
}

.diagram__segment:nth-child(2) {
    stroke: url(#grad2);
    transform: rotate(90deg);
    transform-origin: center;
}

.diagram__segment:nth-child(3) {
    stroke: url(#grad3);
    transform: rotate(90deg);
    transform-origin: center;
}

.diagram__segment:nth-child(4) {
    stroke: url(#grad4);
    transform: rotate(90deg);
    transform-origin: center;
}

