@use "../../reset";
@use "../../text/text";
@use "../../libs/_libs.scss";

html,
body {
    height: 100%;
    overflow-x: hidden;
    max-width: 1920px;
    min-width: 320px;
}

body {
    display: flex;
    flex-direction: column;
    background: #E5E5E5;
}

main {
    flex: 1 1 auto;
}

.registration {
    width: 100%;
    height: 685px;
    background: url("../../images/signin.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}