.box-and-label {
  display: flex;
  justify-content: start;
  width: 230px;
  margin-bottom: 10px;

    &__box {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &__label {
      display: inline-flex;
      align-items: center;
      user-select: none;

      &>span::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: 1px rgba(31, 32, 65, 0.25) solid;
        margin-right: 10px;
        box-sizing: border-box;
        flex-shrink: 0;
        flex-grow: 0;
      }

      & span {
        line-height: 18px;
        opacity: 0.5;
      }
    }

}