.room-number {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  & span:first-child {
    line-height: 18px;
    font-size: 14px;
  }

  & span.widget:nth-child(2) {
    margin-right: 8px;
  }

  & span.body {
    color: rgba(31, 32, 65, 0.5);
  }
  & span:last-child {
    font-size: 12px;
  }
}