mixin room-number (number, price, lux)
    .room-number
        p
            span.widget №
            span.widget= number
            if (lux)
                span.label.label_color_purple люкс
        p
            span.label.label_color_gray= (price + '₽')
            span.body  в сутки