@use "../../reset";
@use "../../text/text";


body, html {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  max-width: 1920px;
  min-width: 320px;
  height: 100%;
  background: #f4f4f6;
  box-sizing: border-box;
}

.index {
  padding: 0 15px;
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 20px 0 20px 0;
    padding: 0 29px;

    & > h1 {
      vertical-align: center;
      line-height: 48px;
    }
  }

  &__container {
    max-width: 420px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 15px;
    @media (max-width: 455px) {
      padding: 10px 15px;
      row-gap: 10px;
    }
    &>h2 {
      color: #BC9CFF;
    }

    &>ul {
      text-align: right;
    }

    & li:not(:last-child) {
      margin-bottom: 5px;
    }

    & a {
      text-decoration: none;
      @media (max-width: 350px) {
        font-size: 18px;
        line-height: 20px;
      }
    }

    & a:hover {
      color: #1F2041;
    }

  }

  &__widget {
    margin-bottom: 10px;
    @media (max-width: 455px) {
      font-size: 20px;
      line-height: 22px;
    }
    @media (max-width: 350px) {
      font-size: 18px;
      line-height: 20px;
    }

    &_color_pink {
      color: #BC9CFF;
    }
  }

  &_active {
    text-align: right;
    & a {
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &_inactive {
    text-align: left;
    & a {
      cursor: not-allowed;
      color: rgba(31, 32, 65, 0.25);
    }
  }

}

* {
  box-sizing: border-box;
}

h1, h2, h3, span {
  user-select: none;
}