include ../../pug/_image

doctype html

html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="keywords")
        meta(name="description" content="Starting page of the hotel")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Starting Page(index)
    body
        .index
            .index__header
                +image('svg','logo','uiKit__logo')

            .index__container.card.card_shadow_big
                h1.widget Hotel Toxin
                .index__box
                    h2.widget.index__widget.index__widget_color_pink UI-kit(without Responsive)
                    ul
                        li.widget-inside.index_active
                            a(href='./colors-types.html') Colors & Types
                        li.widget-inside.index_active
                            a(href='./form-elements.html') Form Elements
                        li.widget-inside.index_active
                            a(href='./cards.html') Cards
                        li.widget-inside.index_active
                            a(href='./headers-footers.html') Headers & Footers
                .index__box
                    h2.widget.index__widget.index__widget_color_pink Pages (Responsive)
                    ul
                        li.widget-inside.index_active
                            a(href='./landing-page.html') Landing page
                        li.widget-inside.index_active
                            a(href='./search-room.html') Search room
                        li.widget-inside.index_inactive
                            a(href='./dummy-page.html') Room details
                        li.widget-inside.index_inactive
                            a(href='./dummy-page.html') Registration
                        li.widget-inside.index_inactive
                            a(href='./dummy-page.html') Sign in

