include ../../pug/_image

doctype html

html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="keywords")
        meta(name="description" content="Starting page of the hotel")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        title Starting Page(index)
    body
        .index
            .index__header
                +image('svg','logo','uiKit__logo')
                h1.widget Hotel Toxin
            .index__container
                h2.widget UI-kit(without Responsive)
                ul
                    li.widget-inside.index_active
                        a(href='./colors-types.html') Colors & Types
                    li.widget-inside.index_active
                        a(href='./form-elements.html') Form Elements
                    li.widget-inside.index_active
                        a(href='./cards.html') Cards
                    li.widget-inside.index_inactive
                        a Headers & Footers
                h2.widget Pages (Responsive)
                ul
                    li.widget-inside.index_inactive
                        a Landing page
                    li.widget-inside.index_inactive
                        a Search room
                    li.widget-inside.index_inactive
                        a Room details
                    li.widget-inside.index_inactive
                        a Registration
                    li.widget-inside.index_inactive
                        a Sign in

