.expandable-checkbox {
  cursor: pointer;
  position: relative;
  width: 100%;
  margin-bottom: 33px;

  &>h3 {
    vertical-align: middle;
    user-select: none;
    flex-shrink: 0;
  }

  &>span {
    position: absolute;
    top: -4.5px;
    right: 10px;
    user-select: none;
  }

  &__arrow-180 {
    transform: rotate(180deg);
  }

  &__menu {
    display: none;
  }

  &__menu-open {
    display: block;
    width: 100%;
    position: absolute;
    top: 32px;
    z-index: 99999;
  }

}

