include ../box-and-label/box-and-label

mixin expandable-checkbox(props)
    - props = props || {}
    - let {title = 'expandable checkbox list', items = []} = props
    .wrapper.wrapper_width_narrow.expandable-checkbox
        h3(class="label label_position_button")= title
        span(class="material-icons expand-arrow") &#xE5CF
        .expandable-checkbox__menu
            - let n = 0;
                while n < items.length
                    +box-and-label(items[n])
                    - n++