.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_color_white {
    background: #ffffff;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.05);
  }

  &__big-element {
    height: 372px;
    width: 100vw;
    padding: 0 140px 0 140px;
  }

  &__small-element {
    height: 367px;
    width: 768px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
  }

  &__logo {
    height: 40px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    height: 168px;
    max-width: 261px;
  }

  &__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
    user-select: none;
  }

  &__content-info {
    height: 70px;
    width: 100vw;
    padding: 0 140px 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brands {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }
}