include ../../pug/_image

mixin footer(isFull)
    if isFull
        .footer.footer__big-element.footer_color-white.headers-footers__footer-big
        .footer__content-info.footer_color-white.headers-footers__margin-40
    else
        .footer.footer__small-element.footer_color-white.headers-footers__footer-small


