include ../../pug/_image

mixin footer(isFull)
    if isFull
        .footer.footer__big-element.footer_color_white
            .footer__container.footer__container_big.footer_shadow_small
                .footer__box.footer__box_shrinkable
                    .footer__logo
                        +image('svg', 'logoColor')
                    span.body Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                .footer__box
                    h3.label навигация
                    a(class="footer__link") О нас
                    a(class="footer__link") Новости
                    a(class="footer__link") Служба поддержки
                    a(class="footer__link") Услуги
                .footer__box
                    h3.label о нас
                    a(class="footer__link") О сервисе
                    a(class="footer__link") Наша команда
                    a(class="footer__link") Вакансии
                    a(class="footer__link") Инвесторы
                .footer__box
                    h3.label служба поддержки
                    a(class="footer__link") Соглашения
                    a(class="footer__link") Сообщества
                    a(class="footer__link") Связь с нами
                .footer__box
                    h3.label подписка
                    span.body Получайте специальные предложения и новости сервиса
                    +subscription-text-field(null, 'Email')
        .footer__content-info.footer_color_white.headers-footers__margin-40.footer_shadow_big
            .footer__container.footer__container_big
                span.body Copyright © 2018 Toxin отель. Все права защищены.
                .footer__brands
                    span.awesome twitter
                    span.awesome facebook
                    span.awesome instagram
    else
        .footer.footer__small-element.footer_color_white.footer_shadow_big
            .footer__logo
                +image('svg', 'logoColor')
            span.body Copyright © 2018 Toxin отель. Все права защищены.
            .footer__brands
                span.awesome twitter
                span.awesome facebook
                span.awesome instagram


