.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  &_color_white {
    background: #ffffff;
  }
  &_shadow_big {
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.05);
    filter: drop-shadow(0 10px 20px rgba(31, 32, 65, 0.05));
  }
  &_shadow_small {
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    filter: drop-shadow(0px 1px 0 rgba(31, 32, 65, 0.1));
  }

  &__big-element {
    height: 372px;
    width: 100vw;
    margin-bottom: 1px;
    @media (max-width:768px) {
      display: none;
    }
  }

  &__small-element {
    margin: 0 auto;
    height: 367px;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    @media (min-width: 769px) {
      display: none;
    }
    & span {
      text-align: center;
      padding: 0 15px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    &_big {
      width: 80.56%;
    }
    @media (max-width: 1150px) {
      justify-content: center;
      column-gap: 100px;
    }
    @media (max-width: 1000px) {
      column-gap: 50px;
    }
  }

  &__logo {
    height: 40px;
    user-select: none;
  }

  &__box {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    height: 168px;
    max-width: 261px;
    user-select: none;
    &_shrinkable {
      flex-shrink: 1;
    }
  }
  &__box:nth-child(2),&__box:nth-child(3),
  &__box:nth-child(4) {
    @media (max-width: 1150px) {
      display: none;
    }
  }

  &__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
    user-select: none;
  }

  &__content-info {
    user-select: none;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__brands {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }
}