$second-grad: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$main-grad: linear-gradient(180deg, rgba(188,156, 255, 1.0) 0%, rgba(136, 164, 249, 1.0) 100%);
$main-grad-25: linear-gradient(180deg, rgba(188,156, 255, 0.25) 0%, rgba(136, 164, 249, 0.25) 100%);
$purple: #BC9CFF;

.filter-date-dropdown {

  &__label {
    margin-bottom: 5px;
  }

  &__field {
    width: 266px;
    height: 44px;
  }

  &__field:hover, &__field:focus, &__field:active, &__field_hover  {
    border-color: rgba(31, 32, 65, 0.5);
    outline: none;
  }

  &__wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 266px;

    & .expand-arrow {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}