mixin filter-date-dropdown(lab)
    div.filter-date-dropdown
        h3.label.dropdown__label= lab
        .filter-date-dropdown__wrapper
            input.filter-date-dropdown__field.item
            span(class="material-icons expand-arrow") &#xE5CF