
.iqdropdown {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    height: 44px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;

    &_width_wide {
        width: 320px;
        @media (max-width: 420px) {
            width: 254px;
        }
    }

    &_width_narrow {
        width: 266px;
    }

    & .expand-arrow {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &-hover{
        border-color: rgba(31, 32, 65, 0.5);
        outline: none;
    }

    & * {
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;

        &::after, &::before {
            box-sizing: inherit;
        }

        &:not(input) {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none
        }

        &:focus {
            outline: none
        }
    }

    & h1, & h2, & h3, & h3, & h4, & h5, & h6, & p {
        margin: 0
    }

    & ul, & ol {
        list-style-type: none;
        margin: 0;
        padding: 0
    }

    & a {
        cursor: pointer

    }

    & button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: 0;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    & select::-ms-expand {
        display: none
    }

    & input::-ms-clear {
        display: none;
        height: 0;
        width: 0
    }

    & .icon-decrement {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    }
    & .iqdropdown-menu {
        background-color: #FFFFFF;
        cursor: default;
        display: none;
        vertical-align: top;
        border: 1px rgba(31, 32, 65, 0.5) solid;
        border-radius: 0 0 4px 4px;
        border-top: none;
        padding: 7px 0 0 15px;
        margin: 1px -1px 0 -1px;
        position: absolute;
        right: 0;
        left: 0;
        top: 100%;
        transition: all 0.2s ease-in-out;
        z-index: 50;
        box-sizing: border-box;
        box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    }

    & &-menu-option {
        align-items: center;
        display: flex;
        height: 30px;
        margin-right: 7px;
        margin-bottom: 7px;
    }

    & &-menu-close {
        color: #002674;
        font-size: 14px;
        font-weight: 600;
        height: 20px;
        margin: 20px 0;
        padding: 0 15px;
        text-align: right;
        width: 100%
    }

    &.menu-open &-menu {
        display: block

    }

    &-content {
        flex: 1;
        margin-right: 10px
    }

    & &-item-controls {
        display: flex;
        align-content: center;
        justify-content: space-between;
        width: 92px;
    }

    &-button-container {
        padding-top: 13px;
        display: flex;
        justify-content: flex-end;
        margin-right: 7px;
        margin-bottom: 13px;
    }

    &-multiple-container {
        display: flex;
        justify-content: space-between;
    }

    &-confirm-button {
        display: block;
    }

    & &-item-controls button {
        align-items: center;
        border: 1px solid;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        text-align: center;
    }

    & &-button_inactive {
        border-color: rgba(31, 32, 65, 0.25);
        color: rgba(31, 32, 65, 0.25);
        cursor: auto;
    }

    & &-selection {
        color: rgba(31, 32, 65, 0.75);
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        flex: 1;
        position: relative;
        margin-bottom: 12px;
    }

    &.menu-open {
        border-color: rgba(31, 32, 65, 0.5);
        border-radius: 4px 4px 0px 0px;
    }
}

@media only screen and (max-width: 640px) {
    .iqdropdown .iqdropdown-menu.mobile-top-menu {
        top: -285px
    }
}

.counter {
    line-height: 30px;
}

.button-decrement, .button-increment {
    border-color: rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.5);
}




