include ../../pug/_image

mixin card-room(props)
    - props = props || {}
    - let {format, name, className, number, price, lux, rate, review} = props
    .card-room.card.card_shadow_small
        .card-room__img-container
            a(href='./room-details.html')
                +image(format,name, className)
            a(href='./room-details.html')
                +image(format,name, className)
            a(href='./room-details.html')
                +image(format,name, className)
            a(href='./room-details.html')
                +image(format,name, className)
        .card-room__text
            .card-room__item
                +room-number(number, price, lux)
            .card-room__rate
                +rate-button(rate)
                div
                    span.label.label_color_gray= review
                    span.body=` Отзывов`