.card-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  &>span {
    vertical-align: middle;
    line-height: 44px;
    color: #000000;
    @media (max-width: 420px) {
        line-height: 24px;
    }
  }
}