mixin card-footer(label, title, link='./dummy-page.html')
    .card-footer
        span.body= label
        +button({
            title: title,
            link: link,
            className: 'button_style_border button_style_op-50 click-me',
        })