include ../../pug/_image.pug
include ../../pug/_head.pug
include ../../libs/_libs.pug

doctype html
html(lang="ru")
    +head('Signin', 'Signin')
    body
        header
            +header({
                existSignUp: true,
                isBold: false,
            })
        main
            .signin
                +card-login
        footer
            +footer(true)
            +footer(false)