include ../blocks/box-and-label/box-and-label.pug
include ../blocks/bullet-list/bullet-list.pug
include ../blocks/button/button.pug
include ../blocks/card-account-signup/card-account-signup.pug
include ../blocks/card-calendar/card-calendar.pug
include ../blocks/card-footer/card-footer.pug
include ../blocks/card-login/card-login.pug
include ../blocks/card-room-parameters/card-room-parameters.pug
include ../blocks/card-room-search/card-room-search.pug
include ../blocks/card-room/card-room.pug
include ../blocks/checkbox-buttons/checkbox-buttons.pug
include ../blocks/colors-content/colors-content.pug
include ../blocks/date-dropdown/date-dropdown.pug
include ../blocks/dropdown/dropdown.pug
include ../blocks/expandable-checkbox/expandable-checkbox.pug
include ../blocks/filter-date-dropdown/filter-date-dropdown.pug
include ../blocks/footer/footer.pug
include ../blocks/header/header.pug
include ../blocks/icon/icon.pug
include ../blocks/iqdropdown/iqdropdown.pug
include ../blocks/like-button/like-button.pug
include ../blocks/pagination/pagination.pug
include ../blocks/radio-buttons/radio-buttons.pug
include ../blocks/rate-button/rate-button.pug
include ../blocks/review/review.pug
include ../blocks/rich-box/rich-box.pug
include ../blocks/rich-checkbox/rich-checkbox.pug
include ../blocks/room-number/room-number.pug
include ../blocks/slider/slider.pug
include ../blocks/subscription-text-field/subscription-text-field.pug
include ../blocks/text-field/text-field.pug
include ../blocks/toggle/toggle.pug
