.click-me {
  width: 99px;
  height: 44px;
  margin-right: 19px;
  margin-bottom: 30px;
  font-weight: 700;

  &:not(.click-me_hover):hover {
    opacity: 0.5;
  }

  &_hover {
    opacity: 0.5;
  }


}