mixin card-login
    .card-login
        h1.widget.card-login__headline Войти
        .card-login__text-field
            +text-field({
                type: 'email',
                placeholder: 'Email',
            })
        .card-login__text-field
            +text-field({
                type: 'password',
                placeholder: 'Пароль',
            })
        .card-login__button
            +button({
                title: 'войти',
                isArrow: true,
                className: 'button_style_solid payment-button',
            })
        +card-footer('Нет аккаунта на Toxin?', 'создать')