mixin textField(l, l25, type, plchld, val)
    .textField
        .textField__label
            h3(class="label")= l
        .textField__label2
            span(class="label-25")= l25
        input.textField__field(placeholder=plchld type=`${type}` value = val)