include ../../pug/_image.pug
include ../../pug/_head.pug
include ../../libs/_libs.pug

doctype html

html(lang="ru")
    +head('Headers and Footers', 'Headers&Footers')
    body.headers-footers
        header.uiKit.uiKit__header.headers-footers__logo
            +image('svg','logo','uiKit__logo')
        main
            +header({
                existSignUp: true,
                isBold: true,
            })
            +header({
                existSignUp: false,
                isBold: true,
            })
            +footer(true)
            +footer(false)


