@use "../../reset";
@use "../../text/text";
@use "../../libs/_libs.scss";

body {
  overflow-x: hidden;
  max-width: 1920px;
  min-width: 320px;
  box-sizing: border-box;
  padding-bottom: 20px;
  background: #f4f4f6;
}

.headers-footers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__logo {
    margin-bottom: 30px;
  }

  &__margin-40 {
    margin-bottom: 40px;
  }

}