.card-account-signup {
  width: 380px;
  height: 646px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 39px 29px 29px;
  box-sizing: border-box;

  @media (max-width: 421px) {
    width: 300px;
    padding: 30px 22px 22px;
    height: 95%;
  }

  &__headline {
    margin-bottom: 20px;
  }

  &__text-field {
    margin-bottom: 10px;
  }

  &__radio-buttons {
    margin-bottom: 24px;
  }

  &__masked-text {
    margin-bottom: 20px;
  }

  &__toggle {
    margin-bottom: 24px;
  }

  &__button {
    margin-bottom: 30px;
  }


}
