mixin card-account-signup
    .card-account-signup.card.card_shadow_big
        h1.widget.card-account-signup__headline Регистрация аккаунта
        .card-account-signup__text-field
            +text-field({
                type: 'text',
                placeholder: 'Имя',
            })
        .card-account-signup__text-field
            +text-field({
                type: 'text',
                placeholder: 'Фамилия',
            })
        .card-account-signup__radio-buttons
            +radio-buttons({
                str: ['Мужчина', 'Женщина']
            })
        .masked-text-field.card-account-signup__masked-text
            h3.label.label_position_text-field дата рождения
            input.masked-text-field__field(type="text").item
        .card-account-signup__text-field
            +text-field({
                labelmain: 'данные для входа в сервис',
                type: 'email',
                placeholder: 'Email',
            })
        .card-account-signup__text-field
            +text-field({
                type: 'password',
                placeholder: 'Пароль',
            })
        .card-account-signup__toggle
            +toggle({
                str: ['Получать спецпредложения/false']
            })
        .card-account-signup__button
            +button({
                title: 'перейти к оплате',
                isArrow: true,
                className: 'button_style_solid payment-button',
            })
        +card-footer('Уже есть аккаунт на Toxin', 'войти')