.masked-text-field {

  &__field {
    width: 320px;
    height: 44px;
    box-sizing: border-box;

    @media (max-width: 420px) {
        width: 254px;
    }
  }


  &__field_unhover {
    color: rgba(31, 32, 65, 0.25);
  }

  &__field::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1F2041;
    opacity: 0.25;
    line-height: 18px;
    text-transform: uppercase;
  }


  &__field:hover {
    border-color: rgba(31, 32, 65, 0.5);
  }

  &__field:focus {
    outline: rgba(31, 32, 65, 0.5);
  }
}