.dummy {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;

  &__border {
    height: 30px;
    width: 1px;
    background: rgba(31, 32, 65, 0.1);
  }

  &__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
  }
}