.payment-button {
  width: 320px;
  padding-left: 34px;
  flex-shrink: 0;
  height: 44px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  //padding-left: 34px;
  &:hover {
    opacity: 0.5;
  }
  &>span:first-child {
    //display: inline-block;
    //width: 252px;
    text-align: center;
    vertical-align: middle;
    flex-grow: 1;
  }
  &>.arrow-forward {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: auto;
  }
}