.toggle {
  max-width: 266px;

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    margin-right: 10px;
    position: relative;
    transition-property: border;
    transition-duration: 0.5s;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgba(31, 32, 65, 0.25);
      transition-property: background, left;
      transition-duration: 1s, 0.5s;
    }

  }

  &__item {
    display: inline-flex;
    align-items: center;
    margin-bottom: 14px;
    vertical-align: top;

    & > label {

      & > span {
        user-select: none;
      }

      & > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: 40px;
        height: 20px;
        margin: 0;

        &:not(:disabled):not(:checked) + .toggle__icon:hover {
          border-color: rgba(31, 32, 65, 0.5);

          &::before {
            background: rgba(31, 32, 65, 0.5);
          }
        }

        &:checked + .toggle__icon {
          border: 1px solid #BC9CFF;

          &::before {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            left: 23px;
          }
        }
      }
    }
  }
}