mixin toggle (props)
    - props = props || {}
    - var {title = '', str=[]} = props
    .toggle
        .toggle__title
            h3.label.toggle__label= title
        each val in str
            .toggle__item
                label
                    if (index == 0)
                        input(type="checkbox" checked)
                    else
                        input(type="checkbox")
                    .toggle__icon
                    span.body= val
