include ../box-and-label/box-and-label

mixin checkbox(lab, ...str)
    - lab = lab || ''
    div.checkbox-buttons
        .checkbox-buttons__title
            h3.label.checkbox-buttons__label= lab
        each val, index in str
            +box-and-label(str[index])


