include ../box-and-label/box-and-label

mixin checkbox(props)
    - props = props || {}
    - let {title = 'checkbox buttons', str=[]} = props
    div.checkbox-buttons.wrapper-40
        h3.label.label_position_button= title
        each val in str
            +box-and-label(val)


