.colors-content {
  display: grid;
  grid-template-columns: 282px 436px;
  grid-column-gap: 415px;
  margin: 37px 0 0 150px;

  &__logo {
    margin: 30px 30px 67px 30px;
  }

  h2,span {
    line-height: 28px;
  }

  &__color-container {
    height: 610px;
    width: 285px;
    display: grid;
    grid-template-columns: 70px 175px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    align-items: center;
  }

  &__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }

  &__span-normal {
    font-size: inherit;
    font-weight: 400;
  }

  &__text-container {
    width: 448px;
    height: 321px;
    display: grid;
    grid-template-columns: 38px 380px;
    grid-column-gap: 30px;
    grid-row-gap: 51px;

      .colors-content__big-block:last-child {
        width: 301px;
      }
  }

  &__small-block {
    color: #1F2041;
    opacity: 0.25;
    font-size: inherit;
    font-weight: 400;
    width: 37px;
    text-align: right;
  }

  @mixin color($fakecolor, $color, $opacity: 100) {
    .colors-content__box_color_#{$fakecolor}-#{$opacity} {
      background-color: $color;
      opacity: calc( $opacity / 100);
    }
  }

  @include color(1F2041, #1F2041, 100);
  @include color(1F2041, #1F2041, 75);
  @include color(1F2041, #1F2041, 50);
  @include color(1F2041, #1F2041, 25);
  @include color(1F2041, #1F2041, 5);
  @include color(BC9CFF, #BC9CFF);
  @include color(6FCF97, #6FCF97);

}

.text-container {

}