include ./pug/_image
include blocks/color-container/_m_color-container

doctype html
html
    include ./pages/colorstypes/_head
    body
        +image('logo','ui-kit__logo')
        .color-container
            +color-container('Dark Shade', '1F2041', 100)
            +color-container('Dark Shade', '1F2041', 75)
            +color-container('Dark Shade', '1F2041', 50)
            +color-container('Dark Shade', '1F2041', 25)
            +color-container('Dark Shade', '1F2041', 5)
            +color-container('Purple', 'BC9CFF', "")
            +color-container('Green', '6FCF97', "")

