include ../../pug/_image
include ../../libs/_libs.pug

doctype html

html
    head
        meta(charset='UTF-8')
        title Cards
    body.cards
        header.uiKit.uiKit__header
            +image('svg','logo','uiKit__logo')
        main.cards__content
            .cards__container
                +card-room-search('40')
                .card-account-signup
            .cards__container
                .card-room-parameters.wrapper-40
                .card-login
            .cards__container
                .card-calendar.wrapper-40
                .card-room
                    .card-room__item.wrapper-40
                    .card-room__item
        footer