@use "../../reset";
@use "../../text/text";
@use "../../libs/_libs.scss";
@use "../../libs/slick.scss";
@use "../../libs/slick-theme.scss";

html {
  width: 1440px;
  height: 1853px;
  background: #f4f4f6;
}

.cards {
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    padding: 42px 140px 140px;
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

* {
  box-sizing: border-box;
}

h1, h2, h3, span {
  user-select: none;
}