.like-button {
  display: inline-block;
  margin-right: 10px;

  &__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    position: relative;
    padding-left: 4px;
    cursor: pointer;
  }

  &__icon_liked {
    border-color: #BC9CFF;
  }

  &__heart {
    background: rgba(31, 32, 65, 0.25);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
    font-size: 10px;
    font-variation-settings: 'FILL' 0;
    vertical-align: middle;
    -webkit-font-variation-settings: 'FILL' 0;
    -moz-font-variation-settings: 'FILL' 0;
    user-select: none;

  }

  &__heart_liked {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__counter {
    position: absolute;
    left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: rgba(31, 32, 65, 0.25);
    transform: translate(-50%, 0);
    user-select: none;
  }

  &__counter_liked {
    color: #BC9CFF;
  }

}