mixin like-button(counter, checked)
    -var counter = counter || 0;
    .like-button
        if (checked === true)
            .like-button__icon.like-button__icon_liked
                span.like-button__heart.like-button__heart_liked.material-icons favorite
                span.like-button__counter.like-button__counter_liked(id="id1" data-initial-counter=counter) i
        else
            .like-button__icon
                span.like-button__heart.material-icons favorite_border
                span.like-button__counter(id="id1" data-initial-counter=counter) i