.wrapper {

  &_width_wide {
    width: 320px;
  }

  &_width_narrow {
    width: 266px;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    &>h3 {
      flex-basis: 100%;
    }
  }
  &__button-item {
    margin-right: 19px;
    margin-bottom: 30px;
  }
}

.wrapper-30 {
  margin-bottom: 30px;
}

.wrapper-40 {
  margin-bottom: 40px;
}