.header {
  height: 70px;
  width: 100vw;
  padding: 0 140px 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_color_white {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__logo {

  }

  &__menu {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

}

