.form {
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__content{
    margin: 32px 141px auto 140px;
    display: grid;
    grid-template-rows: auto 100px auto 172px auto 100px auto;
  }

  &__Block {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__uBlock {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &__doubleUBlock {
    width: 712px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}