$second-grad: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$main-grad: linear-gradient(180deg, rgba(188,156, 255, 1.0) 0%, rgba(136, 164, 249, 1.0) 100%);
$main-grad-25: linear-gradient(180deg, rgba(188,156, 255, 0.25) 0%, rgba(136, 164, 249, 0.25) 100%);
$purple: #BC9CFF;

.date-dropdown {
  display: flex;
  justify-content: space-between;
  &__block:nth-child(1) {
    margin-right: 20px;
  }

  &__block {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }


  &__wrapper {
    display: inline-block;
    position: relative;
    //overflow: hidden;

    & .expand-arrow {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  &__field {
    width: 150px;
    height: 44px;
  }

  &__field:hover, &__field:focus, &__field:active, &__field_hover  {
    border-color: rgba(31, 32, 65, 0.5);
    outline: none;
  }
}

.air-datepicker-cell.-day-.-other-month-, .air-datepicker-cell.-year-.-other-decade- {
  color: var(--adp-color-other-month)
}

.-disabled-.-focus-.air-datepicker-cell.-day-.-other-month-, .-disabled-.-focus-.air-datepicker-cell.-year-.-other-decade- {
  color: var(--adp-color-other-month)
}



.air-datepicker-cell.-day-.-other-month-:empty, .air-datepicker-cell.-year-.-other-decade-:empty {
  background: none;
  border: none
}

.air-datepicker-cell {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: rgba(31, 32, 65, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  font-family: 'Montserrat', sans-serif;

  &.-in-range- {
    background: $main-grad-25;
  }

  &.-range-from- {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  &.-range-to- {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  &.-range-from-,
  &.-range-to-,
  &.-range-to-.-other-month- {
    border: none;
    background: $main-grad-25;
    color: #FFFFFF;
    font-weight: 700;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $main-grad;
    }
  }

  &.-selected-,
  &.-selected-.-other-month- {
    //font-weight: 700;
    //color: white;
    //background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    //&::after {
    //
    //}
  }
  &.-current- {
    color: white;
    font-weight: 700;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $second-grad;
    }
  }
  &.-month-.-current-::after {
    border-radius: 10%
  }
}

.air-datepicker-cell.-disabled- {
  color: rgba(31, 32, 65, 0.25);
  cursor: default;
}

.air-datepicker-body {
  transition: all var(--adp-transition-duration) var(--adp-transition-ease)
}

.air-datepicker-body.-hidden- {
  display: none
}

.air-datepicker-body--day-names {
  display: grid;
  grid-template-columns:repeat(7, var(--adp-day-cell-width));

}

.air-datepicker-body--day-name {
  color: $purple;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  font-family: 'Montserrat', sans-serif;
}

.air-datepicker-body--day-name.-clickable- {
  cursor: pointer
}

.air-datepicker-body--cells {
  display: grid
}

.air-datepicker-body--cells.-days- {
  grid-template-columns:repeat(7, var(--adp-day-cell-width));
  grid-auto-rows: var(--adp-day-cell-height)
}

.air-datepicker-body--cells.-months- {
  grid-template-columns:repeat(3, 1fr);
  grid-auto-rows: var(--adp-month-cell-height)
}

.air-datepicker-body--cells.-years- {
  grid-template-columns:repeat(4, 1fr);
  grid-auto-rows: var(--adp-year-cell-height)
}

.air-datepicker-nav {
  display: flex;
  justify-content: space-between;
  min-height: 24px;
  box-sizing: content-box;
}

.-only-timepicker- .air-datepicker-nav {
  display: none
}

.air-datepicker-nav--title, .air-datepicker-nav--action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center
}

.air-datepicker-nav--action {
  width: var(--adp-nav-action-size);
  border-radius: var(--adp-border-radius);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.air-datepicker-nav--action.-disabled- {
  visibility: hidden
}

.air-datepicker-nav--action span {
  line-height: 24px;
  color: $purple;
}

.air-datepicker-nav--title {
  border-radius: var(--adp-border-radius);
  padding: 0 8px;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  font-family: 'Montserrat', sans-serif;
}

.air-datepicker-nav--title.-disabled- {
  cursor: default;
  background: none
}

.air-datepicker-buttons {
  display: flex;
  justify-content: space-between;
}

.air-datepicker-button {
  border: none;
  background: none;
  display: inline-flex;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  font-family: 'Montserrat', sans-serif;
  color: $purple;
}

.air-datepicker-button span {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.air-datepicker {
  --adp-z-index: 100;
  --adp-grid-areas: 'nav' 'body' 'timepicker' 'buttons';
  --adp-transition-duration: .3s;
  --adp-transition-ease: ease-out;
  --adp-transition-offset: 8px;
  --adp-background-color: #fff;
  --adp-background-color-hover: #f0f0f0;
  --adp-background-color-active: #eaeaea;

  --adp-background-color-selected-other-month-focused: #8ad5f4;
  --adp-background-color-selected-other-month: #a2ddf6;
  --adp-color: #4a4a4a;
  --adp-color-secondary: #9c9c9c;
  --adp-accent-color: #FFFFFF;
  --adp-color-current-date: var(--adp-accent-color);
  --adp-color-other-month: rgba(31, 32, 65, 0.25);
  --adp-color-disabled: #aeaeae;

  --adp-color-other-month-hover: #c5c5c5;
  --adp-border-color: rgba(31, 32, 65, 0.25);
  --adp-border-color-inner: #efefef;
  --adp-border-radius: 4px;
  --adp-border-color-inline: #d7d7d7;
  --adp-nav-height: 32px;
  --adp-nav-arrow-color: var(--adp-color-secondary);
  --adp-nav-action-size: 24px;
  --adp-nav-color-secondary: var(--adp-color-secondary);
  --adp-day-cell-width: 40px;
  --adp-day-cell-height: 40px;
  --adp-month-cell-height: 42px;
  --adp-year-cell-height: 56px;
  --adp-pointer-size: 10px;
  --adp-poiner-border-radius: 2px;
  --adp-pointer-offset: 14px;
  --adp-cell-border-radius: 4px;
  --adp-cell-background-color-selected: #5cc4ef;
  --adp-cell-background-color-selected-hover: #45bced;

  --adp-btn-height: 32px;
  --adp-btn-color: var(--adp-accent-color);
  --adp-btn-color-hover: var(--adp-color);
  --adp-btn-border-radius: var(--adp-border-radius);
  --adp-btn-background-color-hover: var(--adp-background-color-hover);
  --adp-btn-background-color-active: var(--adp-background-color-active);
  --adp-time-track-height: 1px;
  --adp-time-track-color: #dedede;
  --adp-time-track-color-hover: #b1b1b1;
  --adp-time-thumb-size: 12px;
  --adp-time-padding-inner: 10px;
  --adp-time-day-period-color: var(--adp-color-secondary);
  --adp-mobile-font-size: 16px;
  --adp-mobile-nav-height: 40px;
  --adp-mobile-width: 320px;
  --adp-mobile-day-cell-height: 38px;
  --adp-mobile-month-cell-height: 48px;
  --adp-mobile-year-cell-height: 64px;

}

.air-datepicker-overlay {
  --adp-overlay-background-color: rgba(0, 0, 0, .3);
  --adp-overlay-transition-duration: .3s;
  --adp-overlay-transition-ease: ease-out;
  --adp-overlay-z-index: 99
}

.air-datepicker {
  background: var(--adp-background-color);
  border: 1px solid var(--adp-border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--adp-border-radius);
  box-sizing: border-box;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:repeat(4, -webkit-max-content);
  grid-template-rows:repeat(4, max-content);
  grid-template-areas:var(--adp-grid-areas);
  font-family: 'Montserrat', sans-serif;
  color: var(--adp-color);
  width: 320px;
  position: absolute;
  transition: opacity var(--adp-transition-duration) var(--adp-transition-ease), transform var(--adp-transition-duration) var(--adp-transition-ease);
  z-index: var(--adp-z-index);
  padding: 18px 0 18px 19px;
}

.air-datepicker:not(.-custom-position-) {
  opacity: 0
}

.air-datepicker.-from-top- {
  transform: translateY(calc(var(--adp-transition-offset) * -1))
}

.air-datepicker.-from-right- {
  transform: translateX(var(--adp-transition-offset))
}

.air-datepicker.-from-bottom- {
  transform: translateY(var(--adp-transition-offset))
}

.air-datepicker.-from-left- {
  transform: translateX(calc(var(--adp-transition-offset) * -1))
}

.air-datepicker.-active-:not(.-custom-position-) {
  transform: translate(0, 0);
  opacity: 1
}

.air-datepicker.-active-.-custom-position- {
  transition: none
}

.air-datepicker.-inline- {
  border-color: var(--adp-border-color-inline);
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none
}

.air-datepicker.-inline- .air-datepicker--pointer {
  display: none
}

.air-datepicker.-is-mobile- {
  --adp-day-cell-height: var(--adp-mobile-day-cell-height);
  --adp-month-cell-height: var(--adp-mobile-month-cell-height);
  --adp-year-cell-height: var(--adp-mobile-year-cell-height);
  --adp-nav-height: var(--adp-mobile-nav-height);
  --adp-nav-action-size: var(--adp-mobile-nav-height);
  position: fixed;
  width: var(--adp-mobile-width);
  border: none
}

.air-datepicker.-is-mobile- * {
  -webkit-tap-highlight-color: transparent
}

.air-datepicker.-is-mobile- .air-datepicker--pointer {
  display: none
}

.air-datepicker.-is-mobile-:not(.-custom-position-) {
  transform: translate(-50%, calc(-50% + var(--adp-transition-offset)))
}

.air-datepicker.-is-mobile-.-active-:not(.-custom-position-) {
  transform: translate(-50%, -50%)
}

.air-datepicker.-custom-position- {
  transition: none
}

.air-datepicker-global-container {
  position: absolute;
  left: 0;
  top: 0
}

.air-datepicker--pointer {
  --pointer-half-size: calc(var(--adp-pointer-size) / 2);
  position: absolute;
  width: var(--adp-pointer-size);
  height: var(--adp-pointer-size);
  z-index: -1
}


.-top-left- .air-datepicker--pointer, .-top-center- .air-datepicker--pointer, .-top-right- .air-datepicker--pointer, [data-popper-placement^='top'] .air-datepicker--pointer {
  top: calc(100% - var(--pointer-half-size) + 1px)
}

.-top-left- .air-datepicker--pointer:after, .-top-center- .air-datepicker--pointer:after, .-top-right- .air-datepicker--pointer:after, [data-popper-placement^='top'] .air-datepicker--pointer:after {
  transform: rotate(135deg)
}

.-right-top- .air-datepicker--pointer, .-right-center- .air-datepicker--pointer, .-right-bottom- .air-datepicker--pointer, [data-popper-placement^='right'] .air-datepicker--pointer {
  right: calc(100% - var(--pointer-half-size) + 1px)
}

.-right-top- .air-datepicker--pointer:after, .-right-center- .air-datepicker--pointer:after, .-right-bottom- .air-datepicker--pointer:after, [data-popper-placement^='right'] .air-datepicker--pointer:after {
  transform: rotate(225deg)
}

.-bottom-left- .air-datepicker--pointer, .-bottom-center- .air-datepicker--pointer, .-bottom-right- .air-datepicker--pointer, [data-popper-placement^='bottom'] .air-datepicker--pointer {
  bottom: calc(100% - var(--pointer-half-size) + 1px)
}

.-bottom-left- .air-datepicker--pointer:after, .-bottom-center- .air-datepicker--pointer:after, .-bottom-right- .air-datepicker--pointer:after, [data-popper-placement^='bottom'] .air-datepicker--pointer:after {
  transform: rotate(315deg)
}

.-left-top- .air-datepicker--pointer, .-left-center- .air-datepicker--pointer, .-left-bottom- .air-datepicker--pointer, [data-popper-placement^='left'] .air-datepicker--pointer {
  left: calc(100% - var(--pointer-half-size) + 1px)
}

.-left-top- .air-datepicker--pointer:after, .-left-center- .air-datepicker--pointer:after, .-left-bottom- .air-datepicker--pointer:after, [data-popper-placement^='left'] .air-datepicker--pointer:after {
  transform: rotate(45deg)
}

.-top-left- .air-datepicker--pointer, .-bottom-left- .air-datepicker--pointer {
  left: var(--adp-pointer-offset)
}

.-top-right- .air-datepicker--pointer, .-bottom-right- .air-datepicker--pointer {
  right: var(--adp-pointer-offset)
}

.-top-center- .air-datepicker--pointer, .-bottom-center- .air-datepicker--pointer {
  left: calc(50% - var(--adp-pointer-size) / 2)
}

.-left-top- .air-datepicker--pointer, .-right-top- .air-datepicker--pointer {
  top: var(--adp-pointer-offset)
}

.-left-bottom- .air-datepicker--pointer, .-right-bottom- .air-datepicker--pointer {
  bottom: var(--adp-pointer-offset)
}

.-left-center- .air-datepicker--pointer, .-right-center- .air-datepicker--pointer {
  top: calc(50% - var(--adp-pointer-size) / 2)
}

.air-datepicker--navigation {
  grid-area: nav;
  margin-bottom: 30px;
  margin-right: 20px;
}

.air-datepicker--content {
  box-sizing: content-box;
  grid-area: body;
  margin-bottom: 20px;
  margin-right: 20px;
}

.-only-timepicker- .air-datepicker--content {
  display: none
}

.air-datepicker--time {
  grid-area: timepicker
}

.air-datepicker--buttons {
  grid-area: buttons;
  margin-right: 20px;
}

.air-datepicker--buttons, .air-datepicker--time {
  padding: var(--adp-padding);
}

.air-datepicker-overlay {
  position: fixed;
  background: var(--adp-overlay-background-color);
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity var(--adp-overlay-transition-duration) var(--adp-overlay-transition-ease), left 0s, height 0s, width 0s;
  transition-delay: 0s, var(--adp-overlay-transition-duration), var(--adp-overlay-transition-duration), var(--adp-overlay-transition-duration);
  z-index: var(--adp-overlay-z-index)
}

.air-datepicker-overlay.-active- {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity var(--adp-overlay-transition-duration) var(--adp-overlay-transition-ease), height 0s, width 0s
}

