.date-dropdown {
  display: flex;
  justify-content: space-between;

  &__block {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 150px;
  }
  &__item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 150px;

    & .expand-arrow {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  &__field {
    width: 150px;
    height: 44px;
    margin: 0 0 20px 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    border-radius: 4px;
    border: 1px rgba(31, 32, 65, 0.25) solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(31, 32, 65, 0.75);
    line-height: 18px;
  }

  &__field:hover, &__field:focus, &__field:active, &__field_hover  {
    border-color: rgba(31, 32, 65, 0.5);
    outline: none;
  }
}

air-datepicker {
  width: 320px;
  height: 369px;
  border: 1px rgba(31, 32, 65, 0.5) solid;
  padding-top: 20px;
  padding-left: 20px;
}

air-datepicker-navigation {
  margin-bottom: 30px;
  margin-right: 20px;
}