mixin date-dropdown (lab)
    .date-dropdown.wrapper-40
        .date-dropdown__block
            h3.label.label_position_text-field= lab
            .date-dropdown__wrapper
                input.date-dropdown__field(id='start').item
                span(class="material-icons expand-arrow") &#xE5CF
        .date-dropdown__block
            h3.label.label_position_text-field= lab
            .date-dropdown__wrapper
                input.date-dropdown__field(id='end').item
                span(class="material-icons expand-arrow") &#xE5CF