mixin date-dropdown (lab1, lab2)
    .date-dropdown
        .date-dropdown__block
            h3.label.label_position_text-field= lab1
            .date-dropdown__wrapper
                input.date-dropdown__field(class='start').item.item_small
                span(class="material-icons expand-arrow") &#xE5CF
        .date-dropdown__block
            h3.label.label_position_text-field= lab2
            .date-dropdown__wrapper
                input.date-dropdown__field(class='end').item.item_small
                span(class="material-icons expand-arrow") &#xE5CF