mixin bullet-list(props)
    - props = props || {}
    - let {title = 'bullet list', str = []} = props
        .bullet-list
            h3.label.label_position_button= title
            each val in str
                span.body= val
